pkgbase = hyprink-git
	pkgdesc = Persistent desktop notes and scribbles for Hyprland
	pkgver = 1.0.1.r0
	pkgrel = 1
	url = https://github.com/capekk23/HyprInk
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = pkgconf
	depends = gtkmm3
	depends = gtk-layer-shell
	depends = jsoncpp
	provides = hyprink
	conflicts = hyprink
	source = HyprInk::git+https://github.com/capekk23/HyprInk.git
	sha256sums = SKIP

pkgname = hyprink-git
